html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Mencegah scroll */
  overflow-y: auto;
}

.navigation-landingpage {
  background-color: rgb(104, 150, 128);
  height: 65px;
}

.navigationtengah {
  margin-right: -1100px;
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

.login {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 1000px;
}

.logo {
  width: 150px;
  margin-left: -40px;
}

.herosection-landingpage {
  background-color: rgb(68, 105, 89);
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.gambar-herosection {
  margin-top: 4px;
  margin-left: 30px;
  margin-bottom: 5px;
}

.text-herosection h1 {
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-herosection h6 {
  color: rgb(255, 255, 255);
}

.deskripsi-herosection {
  padding-top: 20px;
  color: rgb(251, 251, 251);
  font-weight: lighter;
}

.deskripsi-herosection h6 {
  width: 600px;
  text-align: justify;
  font-size: medium;
}

.line-herosection {
  margin-top: 14px;
  background-color: white;
  height: 0.5px;
  width: 41%;
}

.alamat-herosection {
  margin-top: 20px;
  margin-left: 40px;
}

.lokasi-herosection {
  margin-top: 20px;
}

.lokasi-herosection h6 {
  color: white;
}

.lokasi-herosection h6::before {
  content: '• ';
  margin-right: 5px;
}

.button-herosection {
  padding: 10px;
  padding-left: 40px;
  margin-top: 17px;
  margin-left: 26px;
  background-color: rgb(59, 156, 109);
  width: 220px;
  color: white;
  border-radius: 100px;
  font-weight: 800;
}

.button-herosection:hover {
  background-color: rgb(21, 62, 42);
}

.judul-carousel {
  height: 100px;
  background-color: rgb(118, 171, 145);
}

.judul-carousel h6 {
  font-weight: bolder;
  padding-top: 33px;
  margin-left: 590px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: white;
}

.fitur-landingpage {
  background-color: rgb(68, 105, 89);
  height: 100px;
}

.fitur-landingpage h6 {
  font-weight: bolder;
  padding-top: 33px;
  margin-left: 565px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: white;
}

.cards {
  padding-top: 30px;
  padding-left: 55px;
  background-color: rgb(118, 171, 145);
  height: 550px;
}
